body{
    ont-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: chocolate;
}
.button{
    color: white;
    background-color: blue;
    padding: 5px;
    text-decoration: none;
}
.flex{
    display: flex;
    padding-left: 20px;
}
img{
    height: 25em;
}
.width{
    width: 50%;
    
}
#p{
    padding-right: 20px;
}


.h-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    border-left: 10px solid;
    box-shadow: 10px 10px 50px grey;
}
footer p{
    text-align: center;
    margin-top: 50px;
}